/* __________________________________________________reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* __________________________________________________my styles */

@font-face {
    font-family: geoslab;
    src: url('fonts/tt0308m_.ttf');
}

@font-face {
    font-family: corporates;
    src: url('fonts/CorporateS-Regular.ttf');
}

:root {
    --brown-color: #551605;
    --ochre-color: #b88f3f;
    --light-blue: #cbdde7;
    --text-color: #536571;
    font-family: corporates;
    font-size: 18px;
    color: var(--text-color);
}

h1 {
    display: none;
}

body {
    background-color: #f2f2f2;
}

.container {
    width: 700px;
    min-height: 200px;
    /* background-color: aqua; */
    margin: 0 auto;
    overflow: hidden;
}

.option-title {
    font-family: geoslab;
    font-size: 25px;
    color: var(--brown-color);
    margin-bottom: 25px;
    margin-top: 40px;
}

.option-title::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 3px;
    background-image: url('img/line.png');
}

.photo {
    width: 140px;
    height: 95px;
    border-radius: 15px;
    float: left;
}

.item {
    overflow: hidden;
    position: relative;
    margin-bottom: 26px;
    cursor: pointer;
}

.item:hover .item-title {
    color: #9d9e29;
}

.item:hover .photo {
    opacity: 0.4;
    transition-duration: .4s;
    position: relative;
}

.item:hover .photo::before{
    content: '';
    width: 11px;
    height: 1px;
    background-color: black;
    top: 49px;
    left: 65px;
    position: absolute;
}

.item:hover .photo::after {
    content: '';
    width: 1px;
    height: 11px;
    background-color: black;
    top: 44px;
    left: 70px;
    position: absolute;
}

.photo {
    margin-right: 20px;
}

.photo1 {
    background-image: url('img/img\ 1.png');
}

.photo2 {
    background-image: url('img/img\ 2.png');
}

.photo3 {
    background-image: url('img/img\ 3.png');
}

.photo4 {
    background-image: url('img/img\ 4.png');
}


.item-title {
    display: block;
    font-family: geoslab;
    font-size: 20px;
    color: var(--ochre-color);
    /* margin-left: 20px; */
    background-color: #f2f2f2;
    float: left;
    padding-right: 10px;
}


.price {
    display: block;
    font-family: geoslab;
    font-size: 20px;
    color: var(--ochre-color);
    text-align: right;
    float: right;
    background-color: #f2f2f2;
    padding-left: 10px;
}

.dots {
    width: 535px;
    height: 1px;
    background-image: url('img/dots.png');
    position: relative;
    left: 165px;
    top: 16px;
    z-index: -10;
}
.description {
   width: 540px;
   height: 46px;
   position: absolute;
   bottom: 0;
   right: 0;
   overflow: hidden;
}

.description::first-letter {
    text-transform: uppercase;
}